.final-head {
  margin-top: 10px;
}

.final-head h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}
.final-pic {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 18px;
}
.final-pic img {
  width: 350px;
  padding: 0.4rem;
}

@media (max-width: 560px) {
  .final {
    margin-inline: 0.5rem;
  }
  .final-head h2 {
    font-size: 24px;
  }
  .final-pic img {
  }
}
@media (max-width: 1024px) {
  .final-pic {
    width: 95%;
  }
}
